workflows/1_Archivador_Episodico.json
{
  "name": "Archivador Episodico (Sub-workflow)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT jsonb_agg(message) as messages FROM chat_messages WHERE session_id = '{{$json.conversation_id}}';"
      },
      "id": "pg-1",
      "name": "Get Chat History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "model": "gemini-1.5-flash",
        "messages": {
          "messageValues": [
            {
              "message": "Resuma la siguiente interaccion de chat. Extraiga el problema principal, la resolucion final y datos clave del cliente (sin saludos). Historial:\n\n{{ $json.messages }}"
            }
          ]
        }
      },
      "id": "ai-1",
      "name": "Gemini Summarize",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO document_vectors (content, metadata) VALUES ('{{$json.message.content}}', '{\"session_id\": \"{{$(\"Execute Workflow Trigger\").item.json.conversation_id}}\", \"type\": \"episodic_memory\"}');\nDELETE FROM chat_messages WHERE session_id = '{{$(\"Execute Workflow Trigger\").item.json.conversation_id}}';"
      },
      "id": "pg-2",
      "name": "Save & Clean Active Memory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        600,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat History": {
      "main": [
        [
          {
            "node": "Gemini Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Summarize": {
      "main": [
        [
          {
            "node": "Save & Clean Active Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}