workflows/1l5j6azOF5UxuqjC.json
{
  "createdAt": "2026-05-08T02:25:47.096Z",
  "updatedAt": "2026-05-08T02:25:47.096Z",
  "id": "1l5j6azOF5UxuqjC",
  "name": "[ETL] Sub-Workflow: Procesar Proveedor V4",
  "active": false,
  "nodes": [
    {
      "id": "6df08990-3be1-4fa9-8931-7ca8f17100d9",
      "name": "Recibir Proveedor",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        400
      ],
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "nombre",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "14c42a7f-2538-409b-ad7f-5dc6f20e0535",
      "name": "Ruta por Proveedor",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        350,
        400
      ],
      "parameters": {
        "dataType": "string",
        "value": "={{ $json.nombre }}",
        "rules": {
          "rules": [
            {
              "value": "Gama",
              "output": 0
            },
            {
              "value": "NENA",
              "output": 1
            },
            {
              "value": "Biogenetica",
              "output": 2
            },
            {
              "value": "DROCERCA",
              "output": 3
            }
          ]
        },
        "fallbackOutput": 4
      }
    },
    {
      "id": "06a12590-0f4b-4439-867e-ba6c84629806",
      "name": "ETL Gama",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        650,
        50
      ],
      "parameters": {
        "command": "curl -s -u GAMA@electrodomotica.com.ve:SK1OiDJaTKtT ftp://ftp.electrodomotica.com.ve/Inventario/INVENTARIO.Txt | python3 /opt/scripts/droguerias/gama.py"
      },
      "credentials": {
        "sshPassword": {
          "id": "q9XQyJD7Uu17tWSl",
          "name": "[PROD] SSH - Debian WebServices"
        }
      }
    },
    {
      "id": "ca02eace-0af3-4a81-a26c-0af6005ad724",
      "name": "ETL Nena",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        650,
        200
      ],
      "parameters": {
        "command": "curl -s -u c344-foraneo:c2wi6yl1 ftp://ftp.dronena.com/Maracay/C344/Inventario.txt | python3 /opt/scripts/droguerias/nena.py"
      },
      "credentials": {
        "sshPassword": {
          "id": "q9XQyJD7Uu17tWSl",
          "name": "[PROD] SSH - Debian WebServices"
        }
      }
    },
    {
      "id": "ff807afb-4f31-4e3a-91f3-df85b373f216",
      "name": "Download Biogenetica",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        650,
        350
      ],
      "parameters": {
        "operation": "download",
        "path": "/inventario/inventario.txt"
      },
      "credentials": {
        "ftp": {
          "id": "H8y0GcAQHIkZHXyv",
          "name": "[PROD] FTP - Inventario ITS"
        }
      }
    },
    {
      "id": "e34efce9-dabc-48bf-9879-3fa1473527ad",
      "name": "Upload Biogenetica",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        850,
        350
      ],
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "path": "/tmp/",
        "options": {
          "fileName": "biogenetica_raw.txt"
        }
      },
      "credentials": {
        "sshPassword": {
          "id": "q9XQyJD7Uu17tWSl",
          "name": "[PROD] SSH - Debian WebServices"
        }
      }
    },
    {
      "id": "f9154c63-a458-4a21-ac2e-06bd43eb4fab",
      "name": "Run Biogenetica Script",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1050,
        350
      ],
      "parameters": {
        "command": "cat /tmp/biogenetica_raw.txt | python3 /opt/scripts/droguerias/biogenetica.py"
      },
      "credentials": {
        "sshPassword": {
          "id": "q9XQyJD7Uu17tWSl",
          "name": "[PROD] SSH - Debian WebServices"
        }
      }
    },
    {
      "id": "827d169a-02f7-4479-a525-c38a1bed94a1",
      "name": "ETL Drocerca",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        650,
        500
      ],
      "parameters": {
        "command": "curl -s -u C0005r:008376238 ftp://drocerca.proteoerp.org/inventario.txt | python3 /opt/scripts/droguerias/drocerca.py"
      },
      "credentials": {
        "sshPassword": {
          "id": "q9XQyJD7Uu17tWSl",
          "name": "[PROD] SSH - Debian WebServices"
        }
      }
    },
    {
      "id": "d2139c65-adc1-4bf0-ae44-adb48ea8c298",
      "name": "ETL Generico",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        650,
        650
      ],
      "parameters": {
        "command": "=echo \"Proveedor genérico {{ $json.nombre }} sin configuración FTP específica\""
      },
      "credentials": {
        "sshPassword": {
          "id": "q9XQyJD7Uu17tWSl",
          "name": "[PROD] SSH - Debian WebServices"
        }
      }
    }
  ],
  "connections": {
    "Recibir Proveedor": {
      "main": [
        [
          {
            "node": "Ruta por Proveedor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ruta por Proveedor": {
      "main": [
        [
          {
            "node": "ETL Gama",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ETL Nena",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Biogenetica",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ETL Drocerca",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ETL Generico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Biogenetica": {
      "main": [
        [
          {
            "node": "Upload Biogenetica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Biogenetica": {
      "main": [
        [
          {
            "node": "Run Biogenetica Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true
  },
  "pinData": null,
  "versionId": "33440d2d-7106-4c0d-b875-f11bb100bc81",
  "triggerCount": 0,
  "tags": []
}