workflows/2_Cron_Inactividad.json
{
  "name": "Cron Inactividad (Time-Decay)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "cron-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT clave, valor FROM configuracion_sistema WHERE clave LIKE 'timeout:%';"
      },
      "id": "pg-3",
      "name": "Get Configs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "url": "http://10.147.18.204:3000/api/v1/accounts/1/conversations?status=open",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "YOUR_CHATWOOT_TOKEN"
            }
          ]
        }
      },
      "id": "http-1",
      "name": "Get Open Conversations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Aca filtras las conversaciones por la etiqueta timeout:* y la comparas con (Date.now() - updated_at) > config_time\nreturn $input.all();"
      },
      "id": "code-1",
      "name": "Filter Expired",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://10.147.18.204:3000/api/v1/accounts/1/conversations/{{$json.id}}/toggle_status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"resolved\"}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "YOUR_CHATWOOT_TOKEN"
            }
          ]
        }
      },
      "id": "http-2",
      "name": "Mark as Resolved in Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Configs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Configs": {
      "main": [
        [
          {
            "node": "Get Open Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Open Conversations": {
      "main": [
        [
          {
            "node": "Filter Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Expired": {
      "main": [
        [
          {
            "node": "Mark as Resolved in Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}