workflows/3YnF4LQshJX0BUEJ.json
{
  "createdAt": "2026-04-27T23:12:22.287Z",
  "updatedAt": "2026-04-29T18:00:14.373Z",
  "id": "3YnF4LQshJX0BUEJ",
  "name": "DolarToday Sync (Native)",
  "active": false,
  "nodes": [
    {
      "id": "4cf72a70-714f-4d89-a26c-6d544973dcaf",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        100,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      }
    },
    {
      "id": "21c563a4-d547-4ca1-b3d7-fd5f97dc3cbc",
      "name": "Fetch Oficial",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        300,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://ve.dolarapi.com/v1/dolares/oficial"
      },
      "retryOnFail": true
    },
    {
      "id": "e9b534dc-fa6d-4358-b76a-df0813f9575b",
      "name": "Fetch Paralelo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        500,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://ve.dolarapi.com/v1/dolares/paralelo"
      },
      "retryOnFail": true
    },
    {
      "id": "71cfe3ec-ae55-4273-8f37-b5094725b440",
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nconst bcvItem = $('Fetch Oficial').item.json;\nconst parItem = $('Fetch Paralelo').item.json;\n\nconst bcv = parseFloat(bcvItem.promedio || bcvItem.price);\nconst par = parseFloat(parItem.promedio || parItem.price);\nconst apiDateStr = bcvItem.fechaActualizacion;\n\nconst now = new Date();\nlet targetDate = new Date();\n\nif (apiDateStr) {\n  const apiDate = new Date(apiDateStr);\n  if (Math.abs(now - apiDate) / (1000 * 60 * 60 * 24) <= 5) {\n      targetDate = apiDate;\n  }\n} else {\n  if (now.getHours() >= 17) {\n    targetDate.setDate(targetDate.getDate() + 1);\n  }\n}\n\nconst targetDateStr = targetDate.toISOString().split('T')[0];\nconst bcv_4d = Number(bcv.toFixed(4));\nconst difcamb = Number((par / bcv_4d).toFixed(6));\n\nconst sql = `\n  DECLARE @targetDate DATE = '${targetDateStr}';\n  DECLARE @bcv FLOAT = ${bcv_4d};\n  DECLARE @paralelo FLOAT = ${par};\n  DECLARE @difcamb FLOAT = ${difcamb};\n\n  UPDATE SACONF SET Factor = @bcv, FactorM = @bcv;\n\n  IF EXISTS (SELECT 1 FROM dolartoday WHERE CAST(fecha AS DATE) = @targetDate)\n  BEGIN\n      UPDATE dolartoday\n      SET Dolartoday = @paralelo, pendiente = 0, DifCamb = ROUND(@paralelo / NULLIF(dolarbcv, 0), 6), _hora = dbo.sfAA_HoraClarion(GETDATE())\n      WHERE id = (SELECT TOP 1 id FROM dolartoday WHERE CAST(fecha AS DATE) = @targetDate ORDER BY id DESC);\n  END\n  ELSE\n  BEGIN\n      INSERT INTO dolartoday (fecha, _fecha, _hora, Dolartoday, dolarbcv, pendiente, DifCamb, fuente)\n      VALUES (@targetDate, dbo.sfAA_FechaClarion(@targetDate), dbo.sfAA_HoraClarion(GETDATE()), @paralelo, @bcv, 0, @difcamb, 'api');\n  END\n`;\n\nreturn [{ json: { sql_query: sql, bcv: bcv_4d, paralelo: par, targetDate: targetDateStr } }];\n"
      }
    },
    {
      "id": "89f60a2f-c414-4b70-b1c8-be4da47ba656",
      "name": "Update DB",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_query }}"
      },
      "credentials": {
        "microsoftSql": {
          "id": "oCKBzGZBl1xETeZa",
          "name": "Microsoft SQL account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Oficial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Oficial": {
      "main": [
        [
          {
            "node": "Fetch Paralelo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Paralelo": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Update DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "zLtMDgsc7OSXyXrp",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true
  },
  "pinData": null,
  "versionId": "cffc5a86-31b5-48b3-ab66-51740e909b33",
  "triggerCount": 0,
  "tags": []
}