workflows/4hS1QB91qEeHWYBB.json
{
  "createdAt": "2026-04-29T23:11:00.963Z",
  "updatedAt": "2026-05-06T02:40:20.558Z",
  "id": "4hS1QB91qEeHWYBB",
  "name": "[PROD] Monitor de Infraestructura Global",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "564f4318-2946-400f-986a-f9248c8ae948",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        112,
        304
      ]
    },
    {
      "parameters": {
        "workflowId": "mKIVzHJ0ZbePTJMt",
        "options": {}
      },
      "id": "ab60fe1d-9e7e-49be-a66a-1e3bfc6a5162",
      "name": "Get Network IPs",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        304,
        304
      ]
    },
    {
      "parameters": {
        "content": "### 🛡️ Monitor Global de Infraestructura (Desde Debian)\n- **SQL Server**: Verifica conexión al motor de BBDD.\n- **Internet**: Valida salida HTTP externa.\n- **APIs Locales**: Hace ping a las APIs en la PC de Dario obteniendo la IP dinámicamente del `[UTILITY] Network Router`.\n- **Frecuencia**: Cada 30 minutos.\n- **Alertas**: Si alguno falla, el Error Handler global enviará Telegram.",
        "height": 400,
        "width": 950
      },
      "id": "44e538d6-0731-4850-ae87-ca3b183a5718",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        64
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 1 as health_check"
      },
      "id": "2ab1e5be-a640-432d-a1f5-9add6f31abe6",
      "name": "Check SQL Connection",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        560,
        160
      ],
      "credentials": {
        "microsoftSql": {
          "id": "oCKBzGZBl1xETeZa",
          "name": "[PROD] MSSQL - Saint Enterprise"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://8.8.8.8",
        "options": {
          "timeout": 5000
        }
      },
      "id": "7f3d5d73-920d-44e8-8fb6-693310d896de",
      "name": "Check Internet (Google)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        560,
        464
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst pc_ip = $input.item.json.PC_DARIO;\nreturn [\n  { json: { url: \"http://\" + pc_ip + \":8000/docs\", name: \"PedidoMoleculas PROD\" } },\n  { json: { url: \"http://\" + pc_ip + \":8080/docs\", name: \"CuentasPorPagar PROD\" } }\n];"
      },
      "id": "760ee96a-fd87-486f-a24a-a5e0bc608606",
      "name": "Target APIs (PC Local)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "ec53de67-336b-49b9-8e4a-15487c9bc881",
      "name": "Check Internal APIs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        752,
        304
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorMessage": "={{ `⚠️ ADVERTENCIA (2do Grado): API Interna Caída\n🖥️ Entidad Origen: Servidor Debian Webservices (IP ZeroTier: 10.147.18.4)\n🎯 Entidad Destino: PC de Dario (IP Dinámica)\n🔌 Servicio Afectado: ${$json.name}\n\n📝 Diagnóstico: No se pudo conectar a la API local de la estación de trabajo.\n🔍 Causas Probables: El servidor de desarrollo (FastAPI/Uvicorn) está detenido o la PC fue apagada.\n🛠️ Log Nativo (n8n): ${$json.error?.message || 'Error desconocido'}` }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1072,
        256
      ],
      "id": "0650500f-ed10-4781-987e-ffe04d0dabb8",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f551c747-2844-4deb-9c22-b17dbca4ad97",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        688,
        176
      ],
      "id": "a52ca67b-48f6-4967-8f3c-b846aae9824f",
      "name": "If1"
    },
    {
      "parameters": {
        "errorMessage": "={{ `🚨 CRÍTICO (1er Grado): Fallo en la Base de Datos\n🖥️ Entidad Origen: Servidor Debian Webservices (IP ZeroTier: 10.147.18.4)\n🎯 Entidad Destino: Servidor Windows SRV-DC-AMC (IP LAN: 10.200.8.5)\n🔌 Servicio Afectado: MSSQL Server (Instancia: Saint)\n\n📝 Diagnóstico: El nodo falló al validar la conexión SQL.\n🔍 Causas Probables: El servicio MSSQL está detenido, la base de datos no acepta conexiones, o el túnel ZeroTier está caído.\n🛠️ Log Nativo (n8n): ${$json.error?.message || 'Error desconocido'}` }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        800,
        160
      ],
      "id": "ef640dc3-dea1-4156-8674-c2e340907425",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "errorMessage": "={{ `🚨 CRÍTICO (1er Grado): Servicios Web (Internet) Caídos\n🖥️ Entidad Origen: Servidor Debian Webservices (IP ZeroTier: 10.147.18.4)\n🎯 Entidad Destino: Internet (Google DNS 8.8.8.8)\n🔌 Servicio Afectado: Conectividad Externa\n\n📝 Diagnóstico: El nodo no pudo hacer ping HTTP a Google.\n🔍 Causas Probables: El servidor Debian perdió conectividad a internet.\n🛠️ Log Nativo (n8n): ${$json.error?.message || 'Error desconocido'}` }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        816,
        464
      ],
      "id": "f11aa16b-242d-4a09-8f8e-c815cd67f47c",
      "name": "Stop and Error2"
    },
    {
      "parameters": {
        "mode": "wait"
      },
      "id": "merge-1-id",
      "name": "Merge SQL and Internet",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        900,
        100
      ]
    },
    {
      "parameters": {
        "mode": "wait"
      },
      "id": "merge-2-id",
      "name": "Merge All",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1100,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { service_name: 'MSSQL Server (Instancia: Saint)' } },\n  { json: { service_name: 'Conectividad Externa' } },\n  { json: { service_name: 'PedidoMoleculas PROD' } },\n  { json: { service_name: 'CuentasPorPagar PROD' } },\n  { json: { service_name: '[PROD] Monitor de Infraestructura Global' } }\n];"
      },
      "id": "set-service-name-id",
      "name": "Set Service Name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        100
      ]
    },
    {
      "parameters": {
        "workflowId": "RecovNotifSyst",
        "options": {}
      },
      "id": "call-recovery-id",
      "name": "Call Recovery",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1500,
        100
      ]
    },
    {
      "parameters": {},
      "id": "execute-trigger-id",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        112,
        460
      ]
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Get Network IPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Network IPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Network IPs": {
      "main": [
        [
          {
            "node": "Check SQL Connection",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Internet (Google)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Target APIs (PC Local)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Target APIs (PC Local)": {
      "main": [
        [
          {
            "node": "Check Internal APIs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check SQL Connection": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge SQL and Internet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Internet (Google)": {
      "main": [
        [
          {
            "node": "Merge SQL and Internet",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Internal APIs": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge SQL and Internet": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All": {
      "main": [
        [
          {
            "node": "Set Service Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Service Name": {
      "main": [
        [
          {
            "node": "Call Recovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "zLtMDgsc7OSXyXrp",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Every 30 Minutes": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "aiBuilderAssisted": true
  },
  "pinData": {},
  "versionId": "ea858725-c110-44e5-80fa-6d69710edc90",
  "triggerCount": 1,
  "tags": []
}