workflows/6DqJiXMGjVlmIrbF.json
{
  "createdAt": "2026-04-26T01:04:17.710Z",
  "updatedAt": "2026-04-26T21:45:31.575Z",
  "id": "6DqJiXMGjVlmIrbF",
  "name": "Ingesta Automatizada RAG (OneDrive)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "watchFolder": true,
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "root"
        },
        "options": {}
      },
      "id": "107c80c6-67f8-4fbd-89b2-3cc1c55b77da",
      "name": "Al Agregar Documento",
      "type": "n8n-nodes-base.microsoftOneDriveTrigger",
      "typeVersion": 1,
      "position": [
        208,
        304
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "a1M6c0mwV5N9w2VW",
          "name": "Microsoft Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}"
      },
      "id": "b938d794-f113-4a7b-81f4-b3cb2d31a68b",
      "name": "Descargar Archivo",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1.1,
      "position": [
        400,
        304
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "oJEqgvlqDUvzKaXb",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "n8n_documents",
        "options": {}
      },
      "id": "1ec046fb-6428-4ff7-a919-4c2c4de19a60",
      "name": "Guardar en Base Vectorial",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        608,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "TIT6b60mPms0nTQp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "id": "22791084-84e9-42f8-8d55-d4fa70a7e889",
      "name": "Gemini Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        464
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $(\"Al Agregar Documento\").item.json.name }}"
              }
            ]
          }
        }
      },
      "id": "080ec68a-131d-4ecb-b01a-334a6efadbc6",
      "name": "Extraer Texto",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        304,
        608
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "0ac17821-d077-4992-8fc4-1e62c17dad76",
      "name": "Recursive Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        64,
        720
      ]
    }
  ],
  "connections": {
    "Al Agregar Documento": {
      "main": [
        [
          {
            "node": "Descargar Archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Archivo": {
      "main": [
        [
          {
            "node": "Guardar en Base Vectorial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Guardar en Base Vectorial",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Texto": {
      "ai_document": [
        [
          {
            "node": "Guardar en Base Vectorial",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Extraer Texto",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true
  },
  "pinData": {},
  "versionId": "d5fd9963-18f0-4215-9b48-3ab172adb641",
  "triggerCount": 0,
  "tags": []
}