workflows/BFtLTg1ayr6qFbXI.json
{
  "createdAt": "2026-05-10T02:24:16.408Z",
  "updatedAt": "2026-05-10T16:13:30.491Z",
  "id": "BFtLTg1ayr6qFbXI",
  "name": "[ETL] Sub-Workflow: Procesar Proveedor (Nativo V2)",
  "active": false,
  "nodes": [
    {
      "id": "a7fe53c8-0cd1-4d9c-8359-12bb7b0df813",
      "name": "Recibir Proveedor",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        300
      ]
    },
    {
      "id": "85d5fdf6-5a75-4117-80a7-928b1fa2958c",
      "name": "Resolver Comando",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\n        for (const item of $input.all()) {\n          const nombre = item.json.nombre;\n          let cmd = \"\";\n          \n          if (nombre === \"NENA\") {\n            cmd = \"python3 /opt/scripts/droguerias/nena.py\";\n          } else if (nombre === \"DROCERCA\") {\n            cmd = \"python3 /opt/scripts/droguerias/drocerca.py\";\n          } else if (nombre === \"Gama\") {\n            cmd = \"python3 /opt/scripts/droguerias/generic_inventario.py --proveedor GAMA --tabla Gama_Inventario --cols 10 --ftp-host ftp.electrodomotica.com.ve --ftp-user GAMA@electrodomotica.com.ve --ftp-pass SK1OiDJaTKtT --ftp-path /Inventario/INVENTARIO.Txt\";\n          } else if (nombre === \"Biogenetica\") {\n            cmd = \"python3 /opt/scripts/droguerias/generic_inventario.py --proveedor BIOGENETICA --tabla Biogenetica_Inventario --cols 8 --ftp-host 46.202.182.119 --ftp-user u381534864.clientesdrogueriabiogenetica --ftp-pass 'D=Qb13vi.Wmh' --ftp-path /Existencia/inventario.txt\";\n          } else {\n            cmd = \"echo 'Proveedor generico \" + nombre + \" sin configuracion FTP'\";\n          }\n          item.json.command = cmd;\n        }\n        return $input.all();\n      "
      }
    },
    {
      "id": "66647863-83d0-4eb9-800d-d5a2d6a9d349",
      "name": "Get Config",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT Max_Reintentos, Minutos_Espera_Reintento FROM Proveedores.ETL_Configuracion WHERE Proveedor = '{{ $('Resolver Comando').first().json.nombre }}';"
      },
      "credentials": {
        "microsoftSql": {
          "id": "oCKBzGZBl1xETeZa",
          "name": "[PROD] MSSQL - Saint Enterprise"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "9ddc5727-eaab-4c73-83da-f1a2cea6ae76",
      "name": "Parse Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\n        let max_reintentos = 3;\n        let espera = 5;\n        if ($input.all()[0].json.Max_Reintentos) {\n          max_reintentos = $input.all()[0].json.Max_Reintentos;\n          espera = $input.all()[0].json.Minutos_Espera_Reintento;\n        }\n        return [{ json: { Max_Reintentos: max_reintentos, Minutos_Espera_Reintento: espera } }];\n      "
      }
    },
    {
      "id": "3b29e70a-4c5b-49a3-bfd1-f6c78bd5808b",
      "name": "Ejecutar ETL Python",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "command": "={{ $(\"Resolver Comando\").first().json.command }}"
      },
      "credentials": {
        "sshPassword": {
          "id": "q9XQyJD7Uu17tWSl",
          "name": "[PROD] SSH - Debian WebServices"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "6c48b233-d60a-49aa-befb-0ea3071e9521",
      "name": "Validar Resultado",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "dataType": "number",
        "value1": "={{ $json.exitCode }}",
        "rules": {
          "rules": [
            {
              "value2": 0,
              "output": 0
            },
            {
              "value2": 2,
              "output": 1
            }
          ]
        },
        "fallbackOutput": 2
      }
    },
    {
      "id": "6b60aedf-7ea9-4514-837e-f333fea7580f",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1300,
        300
      ],
      "parameters": {}
    },
    {
      "id": "903bd547-4cd3-401c-9f13-e1f0e13d9904",
      "name": "Verificar Limite",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1300,
        450
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $runIndex }}",
              "operation": "smaller",
              "value2": "={{ $(\"Parse Config\").first().json.Max_Reintentos }}"
            }
          ]
        }
      }
    },
    {
      "id": "f84c21c4-fe2e-4b98-8980-5d78fb34bd37",
      "name": "Pausa Reintento",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1500,
        450
      ],
      "parameters": {
        "amount": "={{ $(\"Parse Config\").first().json.Minutos_Espera_Reintento }}",
        "unit": "minutes"
      },
      "webhookId": "0793c249-a386-4136-abd3-eeaef46c3001"
    },
    {
      "id": "194ff6b2-3161-4936-b36f-5bd89a389531",
      "name": "Lanzar Alerta Telegram",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1300,
        600
      ],
      "parameters": {
        "errorMessage": "=El proveedor {{ $(\"Resolver Comando\").first().json.nombre }} fallo tras agotar todos los reintentos o arrojo un error fatal."
      }
    }
  ],
  "connections": {
    "Recibir Proveedor": {
      "main": [
        [
          {
            "node": "Resolver Comando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolver Comando": {
      "main": [
        [
          {
            "node": "Get Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config": {
      "main": [
        [
          {
            "node": "Parse Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Config": {
      "main": [
        [
          {
            "node": "Ejecutar ETL Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar ETL Python": {
      "main": [
        [
          {
            "node": "Validar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Resultado": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar Limite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lanzar Alerta Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Limite": {
      "main": [
        [
          {
            "node": "Pausa Reintento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lanzar Alerta Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pausa Reintento": {
      "main": [
        [
          {
            "node": "Ejecutar ETL Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true
  },
  "pinData": null,
  "versionId": "51b1b869-e0b8-46aa-85c4-41d709d46115",
  "triggerCount": 0,
  "tags": []
}