workflows/eQWEW1eHaasmUaBl.json
{
  "createdAt": "2026-04-29T15:37:02.737Z",
  "updatedAt": "2026-05-03T23:42:43.586Z",
  "id": "eQWEW1eHaasmUaBl",
  "name": "[PROD] [Logistica] - Recibir Webhook WhatsApp",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-ingest",
        "options": {}
      },
      "id": "c3c5da9f-aeed-4388-88e2-6b5692902ca3",
      "name": "Evolution API Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        208
      ],
      "webhookId": "42c7d473-a8d7-483f-8fe3-0ed5e5fb977d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "type": "string"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ ($json.body.messageType || \"\").toLowerCase() }}",
              "rightValue": "documentmessage",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "6a50b88a-2d10-4872-9417-795b3b3d8e9e",
      "name": "¿Es un Documento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "url",
              "value": "={{ $json.body.url || $json.body.message?.documentMessage?.url }}",
              "type": "string"
            },
            {
              "name": "phone",
              "value": "={{ $json.body.phone || $json.body.key?.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "62bf9805-b9ed-4c80-ae4d-45d49c16fd67",
      "name": "Extraer Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        112
      ]
    },
    {
      "parameters": {
        "workflowId": "pi2vfdgAY40Mh850",
        "options": {}
      },
      "id": "87941fd0-6559-4ed1-8fd5-09cf25aac654",
      "name": "Llamar Procesamiento Excel",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        864,
        112
      ]
    }
  ],
  "connections": {
    "Evolution API Webhook": {
      "main": [
        [
          {
            "node": "¿Es un Documento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es un Documento?": {
      "main": [
        [
          {
            "node": "Extraer Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos": {
      "main": [
        [
          {
            "node": "Llamar Procesamiento Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "zLtMDgsc7OSXyXrp",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true
  },
  "pinData": {},
  "versionId": "b5bdda78-b763-4c81-bc4a-ea3147e90dc7",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2026-04-29T15:41:30.813Z",
      "updatedAt": "2026-04-29T15:41:30.813Z",
      "id": "ar7VkyPtRJkNlcoi",
      "name": "Produccion"
    }
  ]
}