workflows/f2j7HjewY4yyfMkl.json
{
  "createdAt": "2026-05-10T16:18:43.769Z",
  "updatedAt": "2026-05-16T04:25:32.641Z",
  "id": "f2j7HjewY4yyfMkl",
  "name": "[ETL] Sub-Workflow: Procesar Proveedor (Nativo V2)",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "id": "792f725f-7226-4480-a730-260673b44021",
      "name": "Recibir Proveedor",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "\n        for (const item of $input.all()) {\n          const nombre = item.json.nombre;\n          let cmd = \"\";\n          \n          if (nombre === \"NENA\") {\n            cmd = \"python3 /opt/scripts/droguerias/nena.py\";\n          } else if (nombre === \"DROCERCA\") {\n            cmd = \"python3 /opt/scripts/droguerias/drocerca.py\";\n          } else if (nombre === \"Gama\") {\n            cmd = \"python3 /opt/scripts/droguerias/generic_inventario.py --proveedor GAMA --tabla Gama_Inventario --cols 10 --ftp-host ftp.electrodomotica.com.ve --ftp-user GAMA@electrodomotica.com.ve --ftp-pass SK1OiDJaTKtT --ftp-path /Inventario/INVENTARIO.Txt\";\n          } else if (nombre === \"Biogenetica\") {\n            cmd = \"python3 /opt/scripts/droguerias/generic_inventario.py --proveedor BIOGENETICA --tabla Biogenetica_Inventario --cols 8 --ftp-host 46.202.182.119 --ftp-user u381534864.clientesdrogueriabiogenetica --ftp-pass 'D=Qb13vi.Wmh' --ftp-path /Existencia/inventario.txt\";\n          } else {\n            cmd = \"echo 'Proveedor generico \" + nombre + \" sin configuracion FTP'\";\n          }\n          item.json.command = cmd;\n        }\n        return $input.all();\n      "
      },
      "id": "317f24f8-00e1-41f1-a0c0-5979627a4476",
      "name": "Resolver Comando",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -64
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT Max_Reintentos, Minutos_Espera_Reintento FROM Proveedores.ETL_Configuracion WHERE Proveedor = '{{ $(\"Resolver Comando\").first().json.nombre }}';"
      },
      "id": "6784320c-4f85-444e-a7dc-71794e2f28f9",
      "name": "Get Config",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        352,
        -64
      ],
      "credentials": {
        "microsoftSql": {
          "id": "oCKBzGZBl1xETeZa",
          "name": "[PROD] MSSQL - Saint Enterprise"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "\n        let max_reintentos = 3;\n        let espera = 5;\n        if ($input.all()[0].json.Max_Reintentos) {\n          max_reintentos = $input.all()[0].json.Max_Reintentos;\n          espera = $input.all()[0].json.Minutos_Espera_Reintento;\n        }\n        return [{ json: { Max_Reintentos: max_reintentos, Minutos_Espera_Reintento: espera } }];\n      "
      },
      "id": "1e2d8f8a-1e8f-4aa1-a885-36417fc6e4a3",
      "name": "Parse Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -64
      ]
    },
    {
      "parameters": {
        "command": "={{ $(\"Resolver Comando\").first().json.command }}"
      },
      "id": "a3962412-f177-4b1c-9656-569a4b243e5e",
      "name": "Ejecutar ETL Python",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        752,
        -64
      ],
      "credentials": {
        "sshPassword": {
          "id": "B3MvaiaBeDRdgs3C",
          "name": "Debian SSH"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "value1": "={{ $json.exitCode }}",
        "rules": {
          "rules": [
            {},
            {
              "value2": 2,
              "output": 1
            }
          ]
        },
        "fallbackOutput": 2
      },
      "id": "ad495bbf-c05c-484a-ae8f-effd1a942214",
      "name": "Validar Resultado",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        960,
        -64
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f517fc2a-e733-41b4-9d99-f6721cdd74fa",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1152,
        -64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $runIndex }}",
              "value2": "={{ $(\"Parse Config\").first().json.Max_Reintentos }}"
            }
          ]
        }
      },
      "id": "79265c2e-8d6a-43e8-b7ef-a8377a5b85b8",
      "name": "Verificar Limite",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1152,
        96
      ]
    },
    {
      "parameters": {
        "amount": "={{ $(\"Parse Config\").first().json.Minutos_Espera_Reintento }}",
        "unit": "minutes"
      },
      "id": "45393e88-bf91-4577-b7d4-27d2f239b2e4",
      "name": "Pausa Reintento",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1360,
        96
      ],
      "webhookId": "a75bcc26-5725-45bb-8778-0fccd36c4fd0"
    },
    {
      "parameters": {
        "errorMessage": "=El proveedor {{ $(\"Resolver Comando\").first().json.nombre }} fallo tras agotar todos los reintentos o arrojo un error fatal."
      },
      "id": "cb30c224-3844-43d7-b1da-70963f4b4085",
      "name": "Lanzar Alerta Telegram",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1152,
        240
      ]
    }
  ],
  "connections": {
    "Recibir Proveedor": {
      "main": [
        [
          {
            "node": "Resolver Comando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolver Comando": {
      "main": [
        [
          {
            "node": "Get Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config": {
      "main": [
        [
          {
            "node": "Parse Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Config": {
      "main": [
        [
          {
            "node": "Ejecutar ETL Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar ETL Python": {
      "main": [
        [
          {
            "node": "Validar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Resultado": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar Limite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lanzar Alerta Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Limite": {
      "main": [
        [
          {
            "node": "Pausa Reintento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lanzar Alerta Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pausa Reintento": {
      "main": [
        [
          {
            "node": "Ejecutar ETL Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "zLtMDgsc7OSXyXrp"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2fc8667d-28ff-44cc-89a5-171281a4508e",
  "triggerCount": 0,
  "tags": []
}