workflows/h2UFxviaP10SpTRB.json
{
  "createdAt": "2026-05-10T16:16:32.761Z",
  "updatedAt": "2026-05-10T16:18:30.780Z",
  "id": "h2UFxviaP10SpTRB",
  "name": "[ETL] Sub-Workflow: Procesar Proveedor (Nativo V2)",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "b5be0947-528c-4f08-a9c0-d4502f81e36d",
      "name": "Recibir Proveedor",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\n        for (const item of $input.all()) {\n          const nombre = item.json.nombre;\n          let cmd = \"\";\n          \n          if (nombre === \"NENA\") {\n            cmd = \"python3 /opt/scripts/droguerias/nena.py\";\n          } else if (nombre === \"DROCERCA\") {\n            cmd = \"python3 /opt/scripts/droguerias/drocerca.py\";\n          } else if (nombre === \"Gama\") {\n            cmd = \"python3 /opt/scripts/droguerias/generic_inventario.py --proveedor GAMA --tabla Gama_Inventario --cols 10 --ftp-host ftp.electrodomotica.com.ve --ftp-user GAMA@electrodomotica.com.ve --ftp-pass SK1OiDJaTKtT --ftp-path /Inventario/INVENTARIO.Txt\";\n          } else if (nombre === \"Biogenetica\") {\n            cmd = \"python3 /opt/scripts/droguerias/generic_inventario.py --proveedor BIOGENETICA --tabla Biogenetica_Inventario --cols 8 --ftp-host 46.202.182.119 --ftp-user u381534864.clientesdrogueriabiogenetica --ftp-pass 'D=Qb13vi.Wmh' --ftp-path /Existencia/inventario.txt\";\n          } else {\n            cmd = \"echo 'Proveedor generico \" + nombre + \" sin configuracion FTP'\";\n          }\n          item.json.command = cmd;\n        }\n        return $input.all();\n      "
      },
      "id": "a788ae38-b37e-4c9e-84d6-bf5b5484aedf",
      "name": "Resolver Comando",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT Max_Reintentos, Minutos_Espera_Reintento FROM Proveedores.ETL_Configuracion WHERE Proveedor = '{{ $(\"Resolver Comando\").first().json.nombre }}';"
      },
      "id": "a800882e-24d2-4841-a64d-70d04e244572",
      "name": "Get Config",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "\n        let max_reintentos = 3;\n        let espera = 5;\n        if ($input.all()[0].json.Max_Reintentos) {\n          max_reintentos = $input.all()[0].json.Max_Reintentos;\n          espera = $input.all()[0].json.Minutos_Espera_Reintento;\n        }\n        return [{ json: { Max_Reintentos: max_reintentos, Minutos_Espera_Reintento: espera } }];\n      "
      },
      "id": "9eac63e3-8c1a-40f8-a01f-16d5e319e1c9",
      "name": "Parse Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "command": "={{ $(\"Resolver Comando\").first().json.command }}"
      },
      "id": "b6631b2d-e20a-44d5-b8fc-2f33d735fc77",
      "name": "Ejecutar ETL Python",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "value1": "={{ $json.exitCode }}",
        "rules": {
          "rules": [
            {},
            {
              "value2": 2,
              "output": 1
            }
          ]
        },
        "fallbackOutput": 2
      },
      "id": "efea7267-25b7-4e86-8b35-77a687035616",
      "name": "Validar Resultado",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1008,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3d4440ee-f8d2-4795-a420-81d89b3d4162",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $runIndex }}",
              "value2": "={{ $(\"Parse Config\").first().json.Max_Reintentos }}"
            }
          ]
        }
      },
      "id": "9f4e9421-abfe-45a8-8659-8151820e2cd1",
      "name": "Verificar Limite",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1200,
        160
      ]
    },
    {
      "parameters": {
        "amount": "={{ $(\"Parse Config\").first().json.Minutos_Espera_Reintento }}",
        "unit": "minutes"
      },
      "id": "f53ec0cf-e8bf-4fa5-a649-560261a9b199",
      "name": "Pausa Reintento",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1408,
        160
      ],
      "webhookId": "44505a80-2725-4642-95b5-afeb462389c0"
    },
    {
      "parameters": {
        "errorMessage": "=El proveedor {{ $(\"Resolver Comando\").first().json.nombre }} fallo tras agotar todos los reintentos o arrojo un error fatal."
      },
      "id": "8ff58631-0990-449f-a3a8-779b2ea4ab1a",
      "name": "Lanzar Alerta Telegram",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1200,
        304
      ]
    }
  ],
  "connections": {
    "Recibir Proveedor": {
      "main": [
        [
          {
            "node": "Resolver Comando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolver Comando": {
      "main": [
        [
          {
            "node": "Get Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config": {
      "main": [
        [
          {
            "node": "Parse Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Config": {
      "main": [
        [
          {
            "node": "Ejecutar ETL Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar ETL Python": {
      "main": [
        [
          {
            "node": "Validar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Resultado": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar Limite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lanzar Alerta Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Limite": {
      "main": [
        [
          {
            "node": "Pausa Reintento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lanzar Alerta Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pausa Reintento": {
      "main": [
        [
          {
            "node": "Ejecutar ETL Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ef2d4fa8-ef2d-42d6-b61c-ed0ad87463e9",
  "triggerCount": 0,
  "tags": []
}