workflows/iwGP7AAVElhWT4Ob.json
{
  "createdAt": "2026-04-30T22:22:40.364Z",
  "updatedAt": "2026-05-07T00:58:18.598Z",
  "id": "iwGP7AAVElhWT4Ob",
  "name": "[PROD] [Inventario] - ETL Inventario ITS",
  "active": true,
  "nodes": [
    {
      "id": "13c91110-7169-497e-a416-34289fba2569",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "id": "e7e49ae5-9d2c-43c9-8175-bdd20e6c241b",
      "name": "Cargar Datos",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        400,
        300
      ],
      "parameters": {
        "command": "export LANG=C.UTF-8; python3 /opt/scripts/droguerias/its.py"
      },
      "credentials": {
        "sshPassword": {
          "id": "q9XQyJD7Uu17tWSl",
          "name": "[PROD] SSH - Debian WebServices"
        }
      }
    },
    {
      "id": "15ccd8af-76e9-4999-93f8-cc5e69e1bf9d",
      "name": "Format for Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ],
      "parameters": {
        "jsCode": "const text = $json.stdout || \"\";\nconst escaped = text.replace(/&/g, \"&amp;\").replace(/</g, \"&lt;\").replace(/>/g, \"&gt;\");\nreturn { text: escaped };"
      }
    },
    {
      "id": "cf77aa58-f053-4990-83fb-6d803c9002c6",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "-1003531406167",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "webhookId": "b9e36744-45df-4c53-9bf2-98f91773a9b3",
      "credentials": {
        "telegramApi": {
          "id": "RkijxthBpMtc1pDO",
          "name": "[PROD] Telegram - Bot Pago Movil"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Cargar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Datos": {
      "main": [
        [
          {
            "node": "Format for Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Telegram": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": {
    "node:Ejecutar cada 30 min": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "aiBuilderAssisted": true
  },
  "pinData": {},
  "versionId": "dac63f86-cc63-4540-a508-84a3257473e0",
  "triggerCount": 0,
  "tags": []
}