workflows/omKCWbXLZwkt0LE1.json
{
  "createdAt": "2026-04-26T00:58:39.388Z",
  "updatedAt": "2026-04-26T18:00:12.564Z",
  "id": "omKCWbXLZwkt0LE1",
  "name": "OneDrive RAG Ingestion (PGVector)",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "664018b3-af2a-4a25-afce-eae48fe07c2f",
      "name": "Start Ingestion",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        208,
        304
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "root"
      },
      "id": "3bc8c733-0d00-43f2-b4dc-74573f2c16cd",
      "name": "Search OneDrive Folder",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1.1,
      "position": [
        400,
        304
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "a1M6c0mwV5N9w2VW",
          "name": "Microsoft Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}"
      },
      "id": "c5a161d7-4030-45d7-b827-c63e74841469",
      "name": "Download File",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1.1,
      "position": [
        608,
        304
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "a1M6c0mwV5N9w2VW",
          "name": "Microsoft Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "n8n_documents",
        "options": {}
      },
      "id": "d471ffab-3a70-4fe4-8499-f078562e6018",
      "name": "PGVector Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        800,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "TIT6b60mPms0nTQp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "id": "b146c039-e4c7-44d9-99b5-3d81b0c15202",
      "name": "Gemini Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        464
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $(\"Search OneDrive Folder\").item.json.name }}"
              }
            ]
          }
        }
      },
      "id": "f74f3b76-106a-481f-adec-88c321ca0781",
      "name": "Read Documents",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        304,
        608
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "57e9a343-27f9-4205-9f07-4f941271df4b",
      "name": "Recursive Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        112,
        608
      ]
    }
  ],
  "connections": {
    "Start Ingestion": {
      "main": [
        [
          {
            "node": "Search OneDrive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search OneDrive Folder": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "PGVector Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "PGVector Insert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Read Documents": {
      "ai_document": [
        [
          {
            "node": "PGVector Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Read Documents",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true
  },
  "pinData": {},
  "versionId": "16df6a4c-17cf-4b19-b2f3-fcf21e910132",
  "triggerCount": 0,
  "tags": []
}