workflows/PROD_Zakipharma_Inventario_ETL.json
{
  "name": "[PROD] Zakipharma — Inventario ETL",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "11111111-2222-3333-4444-555555555551",
      "name": "⏱️ Trigger — Cada 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 300],
      "notes": "Actualización periódica del inventario de Zakipharma."
    },
    {
      "parameters": {
        "operation": "download",
        "path": "/inventario/inventario.txt",
        "binaryPropertyName": "inventario_raw",
        "options": {}
      },
      "id": "11111111-2222-3333-4444-555555555552",
      "name": "📥 FTP — Descargar inventario.txt",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [220, 300],
      "credentials": {
        "ftp": {
          "id": "ZAKIPHARMA_FTP",
          "name": "[PROD] Zakipharma - FTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinaryFile",
        "binaryPropertyName": "inventario_raw",
        "destinationKey": "inventario_txt",
        "options": {
          "encoding": "utf8"
        }
      },
      "id": "11111111-2222-3333-4444-555555555553",
      "name": "📄 Convertir a Texto",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "resource": "command",
        "operation": "execute",
        "command": "python3 /opt/scripts/droguerias/zakipharma.py",
        "options": {
          "stdin": "={{ $json.inventario_txt }}"
        }
      },
      "id": "11111111-2222-3333-4444-555555555554",
      "name": "🐍 SSH — Parsear y cargar en SQL",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [660, 300],
      "credentials": {
        "sshPassword": {
          "id": "DEBIAN_SSH",
          "name": "[PROD] SSH - Debian WebServices"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "OK",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ]
        }
      },
      "id": "11111111-2222-3333-4444-555555555555",
      "name": "✅ ¿Éxito?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.stdout || '';\nconst match = output.match(/ROWS:(\\d+)/);\nconst rows = match ? parseInt(match[1]) : 0;\n\nreturn [{\n  json: {\n    status: 'success',\n    proveedor: 'Zakipharma',\n    archivo: 'inventario.txt',\n    registros_procesados: rows,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "11111111-2222-3333-4444-555555555556",
      "name": "📊 Formatear Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "jsCode": "const stderr = $input.first().json.stderr || 'Sin detalles';\nconst stdout = $input.first().json.stdout || '';\n\nreturn [{\n  json: {\n    status: 'error',\n    proveedor: 'Zakipharma',\n    archivo: 'inventario.txt',\n    error_detail: stderr || stdout,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "11111111-2222-3333-4444-555555555558",
      "name": "❌ Preparar Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 420]
    },
    {
      "parameters": {
        "operation": "throwError",
        "errorMessage": "=Zakipharma ETL falló: {{ $json.error_detail }}"
      },
      "id": "11111111-2222-3333-4444-555555555559",
      "name": "🔴 Lanzar Error → Global Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [1320, 420]
    }
  ],
  "connections": {
    "⏱️ Trigger — Cada 30 min": {
      "main": [
        [
          {
            "node": "📥 FTP — Descargar inventario.txt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 FTP — Descargar inventario.txt": {
      "main": [
        [
          {
            "node": "📄 Convertir a Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Convertir a Texto": {
      "main": [
        [
          {
            "node": "🐍 SSH — Parsear y cargar en SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐍 SSH — Parsear y cargar en SQL": {
      "main": [
        [
          {
            "node": "✅ ¿Éxito?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ ¿Éxito?": {
      "main": [
        [
          {
            "node": "📊 Formatear Resultado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Preparar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ Preparar Error": {
      "main": [
        [
          {
            "node": "🔴 Lanzar Error → Global Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/Caracas"
  },
  "tags": [
    "Producción",
    "Proveedores-Híbridos",
    "FTP",
    "ETL"
  ]
}
