workflows/R18AA3uhmQS2sMzd.json
{
  "createdAt": "2026-04-30T22:21:18.051Z",
  "updatedAt": "2026-05-04T05:24:11.912Z",
  "id": "R18AA3uhmQS2sMzd",
  "name": "[PROD] [Inventario] - ETL Inventario Intercontinental",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "d213b081-321e-4dd0-8f4c-69fba01e93f1",
      "name": "Ejecutar cada 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1104,
        112
      ],
      "notes": "La droguería actualiza inventario.txt cada 20 min. Descargamos cada 30 min para asegurar consistencia."
    },
    {
      "parameters": {
        "path": "/inventario.txt",
        "binaryPropertyName": "inventario_raw",
        "options": {}
      },
      "id": "37848bb5-170d-40c7-8b68-55745113fe14",
      "name": "Descargar Inventario",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -880,
        112
      ]
    },
    {
      "parameters": {
        "operation": "toBinaryFile"
      },
      "id": "f4c5ccf0-8a38-440c-9a05-2d2658e072fa",
      "name": "Convertir a Texto",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -656,
        112
      ]
    },
    {
      "parameters": {
        "command": "python3 /opt/scripts/droguerias/intercontinental.py"
      },
      "id": "46ed8be3-ef89-4105-9591-440b93881184",
      "name": "Cargar Datos",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -448,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "OK",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "036099ed-14b6-407d-bbb8-a68dd846ec51",
      "name": "Verificar Exito",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extraer estadísticas del output del script Python\nconst output = $input.first().json.stdout || '';\nconst match = output.match(/ROWS:(\\d+)/);\nconst rows = match ? parseInt(match[1]) : 0;\n\nreturn [{\n  json: {\n    status: 'success',\n    proveedor: 'Intercontinental',\n    archivo: 'inventario.txt',\n    registros_procesados: rows,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "f9fc9230-7eaf-4f30-bd0c-90c0bc667181",
      "name": "Formatear Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar mensaje de error para el flujo global\nconst stderr = $input.first().json.stderr || 'Sin detalles';\nconst stdout = $input.first().json.stdout || '';\n\nreturn [{\n  json: {\n    status: 'error',\n    proveedor: 'Intercontinental',\n    archivo: 'inventario.txt',\n    error_detail: stderr || stdout,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "73864705-7e8d-47b9-8d30-6a12d4af044d",
      "name": "Preparar Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        224
      ]
    },
    {
      "parameters": {
        "errorMessage": "=Intercontinental ETL falló: {{ $json.error_detail }}"
      },
      "id": "60947c72-b79e-4685-8827-9f486ec28c2f",
      "name": "Lanzar Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        224,
        224
      ]
    },
    {
      "parameters": {
        "content": "Logica\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        128
      ],
      "typeVersion": 1,
      "id": "08393f9c-f2e7-4476-aef2-755a330d042a",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Ejecutar cada 30 min": {
      "main": [
        [
          {
            "node": "Descargar Inventario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Inventario": {
      "main": [
        [
          {
            "node": "Convertir a Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir a Texto": {
      "main": [
        [
          {
            "node": "Cargar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Datos": {
      "main": [
        [
          {
            "node": "Verificar Exito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Exito": {
      "main": [
        [
          {
            "node": "Formatear Resultado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Error": {
      "main": [
        [
          {
            "node": "Lanzar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ae4b007c-848b-4e02-a6a4-7098e215b411",
  "triggerCount": 0,
  "tags": []
}