workflows/RH2EyxbNvphK807L.json
{
  "createdAt": "2026-05-05T22:45:35.862Z",
  "updatedAt": "2026-05-05T22:50:12.042Z",
  "id": "RH2EyxbNvphK807L",
  "name": "[PROD] [Proveedores-Híbridos] - Ingesta Zakipharma",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "1481dd9d-8ae1-452b-861c-0b725bf3608a",
      "name": "⏱️ Trigger — Cada 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "path": "/inventario/inventario.txt",
        "binaryPropertyName": "inventario_raw",
        "options": {}
      },
      "id": "c867778e-ad31-4436-a0a3-2b3f6d286c10",
      "name": "📥 FTP — Descargar inventario.txt",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        224,
        304
      ],
      "credentials": {
        "ftp": {
          "id": "H8y0GcAQHIkZHXyv",
          "name": "[PROD] FTP - Inventario ITS"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "inventario_raw",
        "destinationKey": "inventario_txt",
        "options": {}
      },
      "id": "076ca6a2-af8b-4b13-a1af-433dcde88ff0",
      "name": "📄 Convertir a Texto",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        448,
        304
      ]
    },
    {
      "parameters": {
        "command": "python3 /opt/scripts/droguerias/zakipharma.py"
      },
      "id": "37e6f1f3-8588-43bf-842d-cc8b0befb856",
      "name": "🐍 SSH — Parsear y cargar en SQL",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        672,
        304
      ],
      "credentials": {
        "sshPassword": {
          "id": "q9XQyJD7Uu17tWSl",
          "name": "[PROD] SSH - Debian WebServices"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.stdout }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "rightValue": "OK"
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "id": "119b7a34-bbf8-49d5-8096-c6df00497fa6",
      "name": "✅ ¿Éxito?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        880,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.stdout || '';\nconst match = output.match(/ROWS:(\\d+)/);\nconst rows = match ? parseInt(match[1]) : 0;\n\nreturn [{\n  json: {\n    status: 'success',\n    proveedor: 'Zakipharma',\n    archivo: 'inventario.txt',\n    registros_procesados: rows,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "2a9da0bd-8b19-40f5-bc69-53994f998754",
      "name": "📊 Formatear Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        -272
      ]
    },
    {
      "parameters": {
        "jsCode": "const stderr = $input.first().json.stderr || 'Sin detalles';\nconst stdout = $input.first().json.stdout || '';\n\nreturn [{\n  json: {\n    status: 'error',\n    proveedor: 'Zakipharma',\n    archivo: 'inventario.txt',\n    error_detail: stderr || stdout,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "dcb86238-762f-4839-a9cb-401b52a0ddab",
      "name": "❌ Preparar Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        432
      ]
    },
    {
      "parameters": {
        "errorMessage": "=Zakipharma ETL falló: {{ $json.error_detail }}"
      },
      "id": "84d6c8e1-dd90-4763-8ec7-a2ff305e5429",
      "name": "🔴 Lanzar Error → Global Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1328,
        432
      ]
    }
  ],
  "connections": {
    "⏱️ Trigger — Cada 30 min": {
      "main": [
        [
          {
            "node": "📥 FTP — Descargar inventario.txt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 FTP — Descargar inventario.txt": {
      "main": [
        [
          {
            "node": "📄 Convertir a Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Convertir a Texto": {
      "main": [
        [
          {
            "node": "🐍 SSH — Parsear y cargar en SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐍 SSH — Parsear y cargar en SQL": {
      "main": [
        [
          {
            "node": "✅ ¿Éxito?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ ¿Éxito?": {
      "main": [
        [
          {
            "node": "📊 Formatear Resultado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Preparar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ Preparar Error": {
      "main": [
        [
          {
            "node": "🔴 Lanzar Error → Global Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true
  },
  "pinData": {},
  "versionId": "49301dd3-d7bd-4a48-bd74-ba3f74c57f2a",
  "triggerCount": 0,
  "tags": []
}