workflows/wurwNm4LkxYIb6gc.json
{
  "createdAt": "2026-04-30T22:36:16.570Z",
  "updatedAt": "2026-05-04T01:46:38.202Z",
  "id": "wurwNm4LkxYIb6gc",
  "name": "[ARCHIVE] [DevOps] - Respaldar Flujos en Git",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "26a707de-4d63-457c-870b-e07529dbc101",
      "name": "⏱️ Trigger — Cada 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1104,
        112
      ],
      "notes": "La droguería actualiza inventario.txt cada 20 min. Descargamos cada 30 min para asegurar consistencia."
    },
    {
      "parameters": {
        "path": "/inventario.txt",
        "binaryPropertyName": "inventario_raw",
        "options": {}
      },
      "id": "72fd2998-8592-4242-8ecc-21fcc1235561",
      "name": "📥 FTP — Descargar inventario.txt",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -880,
        112
      ]
    },
    {
      "parameters": {
        "operation": "toBinaryFile"
      },
      "id": "de604cc4-48ee-4ceb-8c29-06726b04655c",
      "name": "📄 Convertir a Texto",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -656,
        112
      ]
    },
    {
      "parameters": {
        "command": "python3 /opt/scripts/droguerias/drocerca.py"
      },
      "id": "1939c046-9500-4d2f-bdda-5983322fe34a",
      "name": "🐍 SSH — Parsear y cargar en SQL",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -448,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "OK",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "4a4c8dc5-6bfa-433e-90ca-1b02b566f7ec",
      "name": "✅ ¿Éxito?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extraer estadísticas del output del script Python\nconst output = $input.first().json.stdout || '';\nconst match = output.match(/ROWS:(\\d+)/);\nconst rows = match ? parseInt(match[1]) : 0;\n\nreturn [{\n  json: {\n    status: 'success',\n    proveedor: 'Drocerca',\n    archivo: 'inventario.txt',\n    registros_procesados: rows,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "d344c656-0fee-4fbb-9d0e-d2bc410a8403",
      "name": "📊 Formatear Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar mensaje de error para el flujo global\nconst stderr = $input.first().json.stderr || 'Sin detalles';\nconst stdout = $input.first().json.stdout || '';\n\nreturn [{\n  json: {\n    status: 'error',\n    proveedor: 'Drocerca',\n    archivo: 'inventario.txt',\n    error_detail: stderr || stdout,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "59eb8aed-b358-48df-84af-fc2b2bec05be",
      "name": "❌ Preparar Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        224
      ]
    },
    {
      "parameters": {
        "errorMessage": "=Drocerca ETL falló: {{ .error_detail }}"
      },
      "id": "0ebf06a3-35a3-4acb-bf6d-902c2449a1fa",
      "name": "🔴 Lanzar Error → Global Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        224,
        224
      ]
    }
  ],
  "connections": {
    "⏱️ Trigger — Cada 30 min": {
      "main": [
        [
          {
            "node": "📥 FTP — Descargar inventario.txt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 FTP — Descargar inventario.txt": {
      "main": [
        [
          {
            "node": "📄 Convertir a Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Convertir a Texto": {
      "main": [
        [
          {
            "node": "🐍 SSH — Parsear y cargar en SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐍 SSH — Parsear y cargar en SQL": {
      "main": [
        [
          {
            "node": "✅ ¿Éxito?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ ¿Éxito?": {
      "main": [
        [
          {
            "node": "📊 Formatear Resultado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Preparar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ Preparar Error": {
      "main": [
        [
          {
            "node": "🔴 Lanzar Error → Global Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4bd69ae3-d72f-4196-8cba-cb1765d11b98",
  "triggerCount": 0,
  "tags": []
}