workflows/xXHIjkiCyd6WqC0V.json
{
  "createdAt": "2026-04-30T22:15:06.345Z",
  "updatedAt": "2026-04-30T22:15:06.345Z",
  "id": "xXHIjkiCyd6WqC0V",
  "name": "My workflow",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "911549fd-ad32-483c-8d55-fd8edba669e8",
      "name": "⏱️ Trigger — Cada 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1104,
        112
      ],
      "notes": "La droguería actualiza inventario.txt cada 20 min. Descargamos cada 30 min para asegurar consistencia."
    },
    {
      "parameters": {
        "path": "/Existencia/inventario.txt",
        "binaryPropertyName": "inventario_raw",
        "options": {}
      },
      "id": "a9253e6f-7e6a-446c-950d-d82389401e5c",
      "name": "📥 FTP — Descargar inventario.txt",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -880,
        112
      ]
    },
    {
      "parameters": {
        "operation": "toBinaryFile"
      },
      "id": "1270c656-919e-4a10-92bb-3eb780b8085e",
      "name": "📄 Convertir a Texto",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -656,
        112
      ]
    },
    {
      "parameters": {
        "command": "python3 /opt/scripts/vitalclinic/parse_inventario.py"
      },
      "id": "e6666077-f244-481b-ab21-ab5eac5a5fc4",
      "name": "🐍 SSH — Parsear y cargar en SQL",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -448,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "OK",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "a5e25319-28c8-4469-88c7-fffaad145b75",
      "name": "✅ ¿Éxito?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extraer estadísticas del output del script Python\nconst output = $input.first().json.stdout || '';\nconst match = output.match(/ROWS:(\\d+)/);\nconst rows = match ? parseInt(match[1]) : 0;\n\nreturn [{\n  json: {\n    status: 'success',\n    proveedor: 'Vital Clinic',\n    archivo: 'inventario.txt',\n    registros_procesados: rows,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "a3110764-c260-42eb-88b9-5335dd1f9a80",
      "name": "📊 Formatear Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update"
      },
      "id": "7dbcf334-adfc-414d-8b99-0b6bc4aa7f3e",
      "name": "🗃️ Log en DataTable",
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "notes": "Registra última ejecución exitosa. Útil para el monitor de inactividad."
    },
    {
      "parameters": {
        "jsCode": "// Preparar mensaje de error para el flujo global\nconst stderr = $input.first().json.stderr || 'Sin detalles';\nconst stdout = $input.first().json.stdout || '';\n\nreturn [{\n  json: {\n    status: 'error',\n    proveedor: 'Vital Clinic',\n    archivo: 'inventario.txt',\n    error_detail: stderr || stdout,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "b7139b2b-bf40-444f-89e6-5b8bff7719cf",
      "name": "❌ Preparar Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        224
      ]
    },
    {
      "parameters": {
        "errorMessage": "=Vital Clinic ETL falló: {{ $json.error_detail }}"
      },
      "id": "72f11d1e-52bc-44aa-bee5-bd78a2520356",
      "name": "🔴 Lanzar Error → Global Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        224,
        224
      ]
    }
  ],
  "connections": {
    "⏱️ Trigger — Cada 30 min": {
      "main": [
        [
          {
            "node": "📥 FTP — Descargar inventario.txt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 FTP — Descargar inventario.txt": {
      "main": [
        [
          {
            "node": "📄 Convertir a Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Convertir a Texto": {
      "main": [
        [
          {
            "node": "🐍 SSH — Parsear y cargar en SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐍 SSH — Parsear y cargar en SQL": {
      "main": [
        [
          {
            "node": "✅ ¿Éxito?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ ¿Éxito?": {
      "main": [
        [
          {
            "node": "📊 Formatear Resultado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Preparar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Formatear Resultado": {
      "main": [
        [
          {
            "node": "🗃️ Log en DataTable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ Preparar Error": {
      "main": [
        [
          {
            "node": "🔴 Lanzar Error → Global Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "85cbdfda-5c44-4b63-992d-de26ffd37595",
  "triggerCount": 0,
  "tags": []
}