workflows/zLtMDgsc7OSXyXrp.json
{
  "createdAt": "2026-04-23T23:31:35.943Z",
  "updatedAt": "2026-06-14T01:27:54.253Z",
  "id": "zLtMDgsc7OSXyXrp",
  "name": "[PROD] Error Notification System",
  "active": true,
  "nodes": [
    {
      "id": "5d6b9ea3-4741-492f-9cc0-f8c020e82ffa",
      "name": "Error Trigger",
      "parameters": {},
      "position": [
        200,
        300
      ],
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1
    },
    {
      "id": "5cf238f6-dd3d-4c85-bc80-f5b022da0688",
      "name": "Manual Trigger",
      "parameters": {},
      "position": [
        200,
        500
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1
    },
    {
      "id": "10b4a759-915a-4bef-841c-50d400ed407b",
      "name": "Format Alert Data",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "alert_title",
              "type": "string",
              "value": ""
            },
            {
              "id": "2",
              "name": "alert_body",
              "type": "string",
              "value": "={{ $json.execution?.error?.messages?.[0] || $json.trigger?.error?.messages?.[0] || $json.error?.messages?.[0] || $json.execution?.error?.message || $json.trigger?.error?.message || $json.error?.message || \"⚠️ ERROR DESCONOCIDO\\n\\nNo se capturó un mensaje de error específico.\" }}"
            },
            {
              "id": "3",
              "name": "execution_url",
              "type": "string",
              "value": "={{ $json.execution?.url || ('https://n8n.farmaciaamericana.es/workflow/' + ($json.workflow?.id || $json.workflow_id)) }}"
            },
            {
              "id": "4",
              "name": "workflow_id",
              "type": "string",
              "value": "={{ $json.workflow?.id || $json.workflow_id }}"
            },
            {
              "id": "5",
              "name": "service_name",
              "type": "string",
              "value": "={{ (($json.execution?.error?.messages?.[0] || $json.trigger?.error?.messages?.[0] || $json.error?.messages?.[0] || $json.execution?.error?.message || $json.trigger?.error?.message || $json.error?.message || '').match(/Servicio Afectado:\\s*([^\\n\\r]+)/) || [])[1]?.trim() || $json.workflow?.name || $json.workflow?.id || $json.workflow_id }}"
            }
          ]
        },
        "mode": "manual"
      },
      "position": [
        400,
        300
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "postgres": {
          "id": "TIT6b60mPms0nTQp",
          "name": "[PROD] Postgres - Synapse DB"
        }
      },
      "id": "ed57e2dc-21f5-4b77-99c4-5d368714c243",
      "name": "Check Mute Status",
      "parameters": {
        "alwaysOutputData": true,
        "operation": "executeQuery",
        "options": {},
        "query": "=SELECT mute_until AS \"MuteUntil\" FROM service_mutes WHERE service_name = '{{ $(\"Format Alert Data\").item.json.service_name }}';"
      },
      "position": [
        600,
        300
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1
    },
    {
      "credentials": {
        "postgres": {
          "id": "TIT6b60mPms0nTQp",
          "name": "[PROD] Postgres - Synapse DB"
        }
      },
      "id": "e4c5f9b8-1234-5678-abcd-8f5b022da000",
      "name": "Set Error Status",
      "parameters": {
        "operation": "executeQuery",
        "options": {},
        "query": "=INSERT INTO service_status (service_name, status, last_updated) VALUES ('{{ $(\"Format Alert Data\").item.json.service_name }}', 'ERROR', NOW()) ON CONFLICT (service_name) DO UPDATE SET status = 'ERROR', last_updated = NOW();"
      },
      "position": [
        600,
        500
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1
    },
    {
      "id": "5048a721-af5e-456f-951b-ba1dd916ef6e",
      "name": "Is Muted?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "d9b350f5-3006-44b4-ad0c-b26a6dbb01ab",
              "leftValue": "={{ $json.MuteUntil ? (DateTime.fromISO($json.MuteUntil) > DateTime.now()) : false }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        }
      },
      "position": [
        800,
        300
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "RkijxthBpMtc1pDO",
          "name": "[PROD] Telegram - Bot Pago Movil"
        }
      },
      "id": "df42f65a-b8db-48cb-b94d-5320a891ec7f",
      "name": "Send Telegram Alert",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        },
        "chatId": "-1003531406167",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "additionalFields": {
                      "callback_data": "={{ \"mute_1_\" + $(\"Format Alert Data\").item.json.service_name }}"
                    },
                    "text": "🔕 1h"
                  },
                  {
                    "additionalFields": {
                      "callback_data": "={{ \"mute_4_\" + $(\"Format Alert Data\").item.json.service_name }}"
                    },
                    "text": "🔕 4h"
                  },
                  {
                    "additionalFields": {
                      "callback_data": "={{ \"mute_12_\" + $(\"Format Alert Data\").item.json.service_name }}"
                    },
                    "text": "🔕 12h"
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "additionalFields": {
                      "callback_data": "={{ \"mute_0_\" + $(\"Format Alert Data\").item.json.service_name }}"
                    },
                    "text": "🔊 Desilenciar"
                  }
                ]
              }
            }
          ]
        },
        "operation": "sendMessage",
        "replyMarkup": "inlineKeyboard",
        "resource": "message",
        "text": "={{ $(\"Format Alert Data\").item.json.alert_body }}\\n\\n<a href=\"{{ $(\"Format Alert Data\").item.json.execution_url }}\">🔍 Ver detalles de ejecución en n8n</a>",
        "webhookId": "e92a863d-21c9-40e8-a05d-18c44568cc5f"
      },
      "position": [
        1100,
        400
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2
    },
    {
      "id": "fcaafa1a-56ae-4c4f-b8a1-171ffe7b31f8",
      "name": "Preparar Payload para Hermes",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "alert_text",
              "type": "string",
              "value": "={{ $(\"Format Alert Data\").item.json.alert_body }}"
            },
            {
              "id": "2",
              "name": "chat_id",
              "type": "string",
              "value": "-1003531406167"
            }
          ]
        },
        "mode": "manual"
      },
      "position": [
        1225,
        600
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "4eedf55f-421e-4874-bceb-dd6028e9d0ad",
      "name": "Llamar a Hermes",
      "parameters": {
        "mode": "each",
        "options": {},
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "1HuvD04gTSdwdYqw"
        }
      },
      "position": [
        1350,
        600
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Check Mute Status": {
      "main": [
        [
          {
            "index": 0,
            "node": "Is Muted?",
            "type": "main"
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Alert Data",
            "type": "main"
          }
        ]
      ]
    },
    "Format Alert Data": {
      "main": [
        [
          {
            "index": 0,
            "node": "Check Mute Status",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Set Error Status",
            "type": "main"
          }
        ]
      ]
    },
    "Is Muted?": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Send Telegram Alert",
            "type": "main"
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Alert Data",
            "type": "main"
          }
        ]
      ]
    },
    "Preparar Payload para Hermes": {
      "main": [
        [
          {
            "index": 0,
            "node": "Llamar a Hermes",
            "type": "main"
          }
        ]
      ]
    },
    "Send Telegram Alert": {
      "main": [
        [
          {
            "index": 0,
            "node": "Preparar Payload para Hermes",
            "type": "main"
          }
        ]
      ]
    },
    "Set Error Status": {
      "main": []
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true
  },
  "pinData": {},
  "versionId": "5b78c742-0f75-4333-9958-fac47bebb754",
  "triggerCount": 0,
  "tags": []
}